<!DOCTYPE html>
<html>
   <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/luckycss.css">
   </head>
   <body>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="/javascripts/lucky.js"></script>

    <div id="map-canvas"></div>
   </body>
</html>

